#table {
  width: 70%;
  margin: 50px auto;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
  background-color: white;
  color: black;
  overflow: hidden auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  text-transform: capitalize;
}

th {
  background-color: #e6e4ec;
  text-transform: capitalize;
}
div {
  margin: 5%;
}
